{{ define "main" }}

{{ partial "page-title.html" . }}

<!-- contact form start -->
<section class="contact-form-wrap section">
  <div class="container">
    <div class="row">
      {{ with .Params.contact }}
      <div class="col-lg-12 col-md-12 col-sm-12">
        <span class="text-color">{{ .subtitle }}</span>
        <h3 class="text-md mb-5">{{ .title }}</h3>

        <div class="row">
          <div class="col-lg-8">
            <form id="contact-form" class="contact__form" method="post" action="{{ site.Params.contact.formAction }}" data-netlify="true">
              <div class="form-group">
                <select class="form-control" id="exampleFormControlSelect1">
                  <option selected disabled>Vous nous contactez pour ...</option>
                  {{ range .contact_topics }}
                  <option value="{{ . | urlize}}">{{ . }}</option>
                  {{ end }}
                </select>
              </div>

              <div class="form-group">
                <input name="subject" id="subject" type="text" class="form-control" placeholder="Sujet du message">
              </div>

              <div class="form-group">
                <input name="name" id="name" type="text" class="form-control" placeholder="Votre nom">
              </div>

              <div class="form-group">
                <input name="email" id="email" type="email" class="form-control" placeholder="Adresse mail">
              </div>

              <div class="form-group-2 mb-4">
                <textarea name="message" id="message" class="form-control" rows="4"
                  placeholder="Votre message"></textarea>
              </div>
              <button class="btn btn-main" name="submit" type="submit">Envoyez le message</button>
            </form>
          </div>
          {{ end }}

          <div class="col-lg-4">
            <div class="short-info mt-5 mt-lg-0">
              <ul class="list-unstyled">
                <li>
                  <h5>Envoyez nous un mail</h5>
                  {{ site.Params.email }}
                </li>
                <li>
                  <h5>Adresse</h5>
                  {{ site.Params.location }}
                </li>
              </ul>

              <ul class="social-icons list-inline mt-5">
                {{ range site.Params.social }}
                <li class="list-inline-item">
                  <a href="{{ .link | safeURL }}"><i class="{{ .icon }}"></i></a>
                </li>
                {{ end }}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>

    {{ if .Params.map.enable }}
    {{ with .Params.geo }}
    <div class="row">
      <div class="col-lg-12">
        <div class="google-map mt-90 mb-5">
          <div class="map">
            <div>
              <iframe class="openstreetmap" src="{{ .embed }}"></iframe>
              <small><a href="{{ .map_big }}">Agrandir la carte (et accéder aux directions)</a></small>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
    {{ end }}

    {{ if .Params.branch.enable }}
    {{ with .Params.branch }}
    <div class="row">
      {{ range .branch_office }}
      <div class="col-lg-4 col-md-6">
        <div class="contact-info">
          <h4 class="mb-4">{{ .title | markdownify }}</h4>
          <ul class="address-block list-unstyled">
            {{ range .info }}
            <li><i class="{{ .icon }} mr-3"></i>{{ .label }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
      {{ end }}
    </div>
    {{ end }}
    {{ end }}
  </div>
</section>

{{ "<!-- Google Map API -->" | safeHTML }}
<script src="{{ .Params.map.gmap_api | absURL }}"></script>

{{ end }}