.footer {
    background: $primary-color;
}
.portflio-item {
	&:before {
		background: $secondary-color;
	}
}
.page-title {
    padding: 5px;
}
.nav-active a {
	font-weight: bold !important;
	color: red !important;
}
.falogo,.falogo-dark {
    font-size: 1.3em;
}
.falogo i {
	--fa-primary-color: green;
}
.falogo-dark i {
	--fa-primary-color: red;
}
.overlay-item i {
	--fa-primary-color: red;
}
.falogo-dark {
	color: white !important;
}
// #navbar {
// 	background-color: lightgray;
// }
.portflio-item .overlay-item i {
	width: 74px;
	height: 74px;
	padding-top: 18px;
}
.cta{
	background: url("../images/bg/codeblock.jpg")no-repeat;
	background-size: cover;
	position: relative;
}
.counter--style i {
	padding-top: 32px;
}
.service-item-list i {
	--fa-primary-color: darkgreen;
	--fa-secondary-color: green;
}
.portfolio a img {
	outline: 2px dashed $secondary-color;
}