$light: #fff;
$primary-color: #2e375e;
// $primary-color: #FF715B;
$secondary-color:#0177a9;
// $secondary-color:#FF715B;
// $base-color:#62618d;
$base-color:#6F8BA4;
$black:#000;
// $black:#031043;
$border-color:#fafafa;
$primary-font: 'Rubik', sans-serif;
$secondary-font:'Open Sans', sans-serif;

$grad-color:linear-gradient(to bottom,#05a5f9,#10dab7);